@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.active {
    background-color: white;
    color: black;
}

.page-loader {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.page-loader.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #f03355;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    animation: l1 2s infinite cubic-bezier(0.3, 1, 0, 1);

    transition: opacity 3000ms ease, visibility 3000ms ease;
}

@keyframes l1 {
    33% {
        border-radius: 0;
        background: #514b82;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }

    66% {
        border-radius: 0;
        background: #ffa516;
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%)
    }
}